:root {
    --primary-color: rgb(27 114 232);
    --secondary-color: rgb(20 42 64);
    --bar-color: rgb(5 30 52);
    --search-color: rgb(229 229 229);
    --navbar-height: 66px;
}

/* wrapper */
.wrapper {
    width: 100%;
    height: 100vh;
}

/* navbar */
.logo {
    height: 40px;
}

.search-color {
    height: 40px;
    background-color: var(--search-color);
    padding: .5rem;
    border-radius: 5px;
}

@media screen and (min-width: 992px) {
    .navbar-nav li {
        display: block !important;
    }

    .logo-lg {
        display: block !important;
        
    }

    .logo-sm {
        display: none;
    }
}

/* main-block */
.main-block {
    display: flex;
}

/* sidebar */
.sidebar {
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--bar-color);
    width: 60px;
    height: calc(100vh - (var(--navbar-height)));
}

.sb-icon-name {
    display: none;
}

@media screen and (min-width: 992px) {
    .sb-icon-name {
        display: block !important;
    }

    .sidebar {
        width: 150px;
    }
}


